body {
  background-color: #e5e5e5;
  margin: 0 auto;
}

header {
  height: 48px;
  max-width: 100%;
  margin: 0 auto;
  background-color: #76e4eb;
}

.hero-banner {
  max-width: 987px;
  height: 420px;
  margin: 0 auto;
  background-color: #315fa4;
}

.container {
  max-width: 987px;
  height: 220px;
  margin: 0 auto;
  margin-top: 20px;
}

.column {
  width: 100%;
  height: 220px;
  background-color: #ca1dcd;
  display: block;
  margin-top: 20px;
  float: left;
}

.box1 {
  margin-top: 0;
}

.column:nth-child(3) {
  margin-bottom: 20px;
}

footer {
  background-color: #c01887;
  max-width: 100%;
  height: 172px;
  margin: 0 auto;
  margin-top: 20px;
  clear: both;
}

@media screen and (min-width: 767px) {
  header {
    height: 48px;
    max-width: 987px;
    margin: 0 auto;
    background-color: #76e4eb;
  }

  .hero-banner {
    max-width: 987px;
    height: 420px;
    margin: 0 auto;
    background-color: #315fa4;
  }

  .container {
    max-width: 987px;
    height: 220px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .column {
    max-width: 315px;
    height: 220px;
    background-color: #ca1dcd;
    display: inline-block;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .column:nth-child(3) {
    margin-right: 0;
  }

  footer {
    background-color: #c01887;
    max-width: 987px;
    height: 172px;
    margin: 0 auto;
    margin-top: 20px;
  }
}
