* {
    margin: 0 auto;
  }

.inner {
  margin: 0 auto;
}

header {
  background-color: #76E4EB;
  width: 428px;
  height: 48px;
<<<<<<< HEAD
  width: 428px;
  margin: 0 auto;
  background-color: #76e4eb;
}

.hero-banner {
  max-width: 428px;
  height: 420px;
  margin: 0 auto;
  background-color: #315fa4;
=======
}

.hero-banner {
  background-color: #315FA4;
  width: 428px;
  height: 420px;
>>>>>>> a0478101b9ec09da4e5a29d2ada8b5f1624c9a29
  margin-bottom: 20px;
}

.container {
  width: 428px;
<<<<<<< HEAD
  height: 220px;
  margin: 0 auto;
}

.column {
  width: 428px;
  height: 220px;
  background-color: #ca1dcd;
  margin-bottom: 20px;
  margin: 0 auto;
}

.box1 {
  margin-top: 0;
}

.column:nth-child(3) {
  margin-bottom: 20px;
}

footer {
  background-color: #c01887;
  width: 428px;
  height: 172px;
  margin: 0 auto;
=======
}

.column {
  background-color: #CA1DCD;
  width: 428px;
  height: 220px;
  margin-bottom: 17px;
}

footer {
  background-color: #C01887;
  width: 428px;
  height: 162px;
>>>>>>> a0478101b9ec09da4e5a29d2ada8b5f1624c9a29
}

@media screen and (min-width: 767px) {
  .inner {
    margin: 0 auto;
  }
  
  header {
    background-color: #76E4EB;
    width: 987px;
    height: 48px;
  }
  
  .hero-banner {
    background-color: #315FA4;
    width: 987px;
    height: 420px;
    margin-bottom: 20px;
  }
  
  .container {
    width: 987px;
  }
  
  .column {
    background-color: #CA1DCD;
    width: 315px;
    height: 220px;
    display: inline-block;
    margin-right: 17px;
    margin-bottom: 17px;
  }
  
  .column:nth-child(3) {
    margin-right: 0;
  }
  
  footer {
    background-color: #C01887;
    width: 987px;
    height: 172px;
  }
  
}