* {
  margin: 0 auto;
}

header {
  height: 48px;
}

header .container {
  background-color: #76e4eb;
}

ul li {
  display: inline-block;
  margin: 5px;
  float: right;
}

a {
  text-decoration: none;
  color: #444444;
  font-family: sans-serif;
  font-size: 14px;
}

.hero-banner {
  height: 420px;
  margin-bottom: 20px;
}

.hero-banner .container {
  background-color: #315fa4;
}

.container {
  max-width: 987px;
}

.column {
  background-color: #ca1dcd;
  height: 220px;
  margin-bottom: 17px;
}

footer {
  background-color: #c01887;
  height: 162px;
}

@media screen and (min-width: 767px) {
  header {
    height: 48px;
  }

  .square {
    border: 2px solid #ffd520;
    width: 15px;
    height: 20px;
    float: left;
    margin: 10px;
  }

  ul li {
    display: inline-block;
    margin: 15px;
  }

  a {
    text-decoration: none;
    color: #444444;
    font-family: sans-serif;
    font-size: 14px;
  }

  .relative {
    position: relative;
    left: 20px;
    bottom: 40px;
  }

  h1 {
    font-size: 36px;
    font-family: sans-serif;
  }

  p {
    font-size: 24px;
    font-family: sans-serif;
  }

  .container {
    height: 420px;
  }

  .flex-items {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .item {
    background-color: #ca1dcd;
    min-width: 315px;
    height: 220px;
    margin: 10px;
    margin-bottom: 20px;
  }

  footer {
    background-color: grey;
    height: 172px;
  }

  footer .container {
    border: 2px solid white;
  }
}
